*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}

/* home */

#home{
    background: linear-gradient(rgba(0,0,0,0.5),#da903b), url(images/home.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 60px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.full-logo{
    width: 80%;
    max-width: 720px;
    min-width: 300px;
    padding-bottom: 0.6em;
}
.home-text{
    text-align: center;
    padding-top: 140px;
    color: white;
}
.home-text h1{
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
}
.home-text p{
    font-size: 32px;
    font-style: italic;
    padding-top: 1em;
}
.home-text h2{
    font-size: 20px;
    position: relative;
    padding-top: 40px;
}
.home-btn{
    margin: 70px auto 0;
}
.home-btn a{
    /* background-color: #ddd; */
    display: inline-block;
    border: 1px solid white;
    color: black;
    width: 150px;
    padding: 12px 50px;
    color: white;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
    margin: 0 50px;
}
.home-btn a:hover{
    background-color: black;
    color: white;
}

/* sidenav */

#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #DA903B;
    z-index: 20;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    margin: 50px 20px;
    color: white;
}
#menubtn{
    width: 50px;
    height: 50px;
     background: #DA903B;
    text-align: center;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    position: fixed;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width: 770px){
    .home-text h1{
        font-size: 44px;
    }
    .home-btn a{
        display: block;
        margin: 10px auto ;
    }
}

/* about */

#about{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    color: #DA903B;
    font-size: 20px;
    font-weight: bold;
}
.title-text h1
{
    font-size: 50px;
}
.about-text{
    width: 80%;
    margin: auto;
    /* align-items: center; */
    text-align: left;
    font-size: 20px;
}
.about-text p{
    margin-bottom: 35px;
    display: block;
}
.bold{
    font-weight: bold;
}

@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }
}

/* features */

#features{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    color: #DA903B;
    font-size: 20px;
    font-weight: bold;
}
.title-text h1
{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    font-size: 20px;
}
@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }
}

/* gallery */

#gallery{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.gallery-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-gallery{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-gallery img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#DA903B);
    opacity: 0;
    transition: 1s;
}
.single-gallery:hover .overlay{
    opacity: 1;
}
.gallery-des{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.gallery-des p{
    font-size: 14px;
}
.single-gallery:hover .gallery-des{
    opacity: 1;
    bottom: 40%;
}

@media screen and (max-width: 770px){
    .single-gallery{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .gallery-des p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-gallery:hover .gallery-des{
        bottom: 25% !important;
    }
}

/* footer */

#footer{
    padding: 100px 0 20px;
    /* background: #efefef; */
    position: relative;
}
.time {
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
}
.time-col1 {
    padding-right: 1em;
}
.time-col2 {
    flex-grow: 1;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color: #DA903B;
    margin: 10px;
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #DA903B;
    margin: 40px 5px 0;
    color: #DA903B;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: #DA903B;
    color: white;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 15px;
    margin-top: 20px;
}
.social-links span{
    color: #DA903B;
}
@media screen and (max-width: 770px){
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
}
